<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Student name</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Dept name</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Year</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Semester</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Roll number</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label"><b>Mobile number</b></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary">Add</button>
                </div>
            </div>